<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="common">
  <meta charset="UTF-8" />
     <title>| 夜深人静的风 |</title>
     <meta content="IE=edge" http-equiv="X-UA-Compatible" />
     <meta content="width=device-width, initial-scale=1" name="viewport" />
     <meta content="telephone=no" name="format-detection" />
     <meta content="webkit" name="renderer" />
     <meta content="no-siteapp" http-equiv="Cache-Control" />
     <meta content="博客,个人,学习,IT,生活,夜深人静的风,程序猿,springboot,java,后端" name="keywords" />
     <meta content="夜深人静的风，正宗97后，爱编程。喜欢上网、LOL、爱生活。专注于Spring,SpringBoot等后端技术探索，以及MySql数据库开发和SSM等后端流行框架学习。" name="description" />
</div>
</body>
</html>